{
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["./src"]
            }
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "jest": true
    },
    "extends": "eslint-config-unosquare",
    "plugins": ["prettier"],
    "rules": {
        "react-hooks/exhaustive-deps": 0,
        "default-param-last": 0,
        "@typescript-eslint/no-explicit-any": 0,
    }
}